<div class="jumbotron center">
  <h1>Welcome to RealFootball</h1>
  <% if user_signed_in? %>
    <p>
      <%= link_to "New Post", new_post_path, class: "btn btn-danger btn-lg" %>
      <% if current_user.admin? %>
        <%= link_to "New Player", new_player_path, class: "btn btn-danger btn-lg" %>
        <%= link_to "New Team", new_team_path, class: "btn btn-danger btn-lg" %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-danger btn-lg" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  <% end %>
</div>
