<div id="posts">
  <% @posts.each do |post| %>
    <div class"box">
      <%= post.description %>
      <%= post.user.email if post.user %>
      <%= post.picture %>
      <%= link_to 'Show', post, class: "btn btn-danger" %>
      <% if post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-danger" %>
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
