<div id="posts", class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
      <%= image_tag post.picture.url %>
      <%= post.description %>
      <%= post.user.email if post.user %>
      <%= link_to 'Show', post, class: "btn btn-danger" %>
      <% if post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-danger" %>
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
