<p id="notice"><%= notice %></p>

<%= link_to 'Back', posts_path, class: "btn btn-danger" %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @post.picture.url %>
      </div>
      <div class="panel-body">
        <p> <strong> <%= @post.description %> </strong> </p>
        <p> <strong> <%= @post.user.email if @post.user %> </strong> </p>
        <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path, class: "btn btn-danger" %>
          <%= link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
