<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_post_path, class: "btn btn-danger" %>
  <%= link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<% end %>

<%= link_to 'Back', posts_path, class: "btn btn-danger" %>
